body {
  background-image: url(../images/bg.png);
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 14px;
}

body .page {
  margin: 0 auto;
}

body .page .top-image {
  text-align: center;
  position: relative;
}

body .page .top-image img {
  width: 100%;
}

body .page .top-image p {
  color: #fff;
  position: absolute;
  left: 80px;
  bottom: 20px;
  letter-spacing: 0.08em;
}

body .page p {
  line-height: 1.9;
}

header .inner {
  width: 1200px;
  margin: 0 auto;
}

header .inner nav {
  margin-bottom: 200px;
}

header .inner nav ul {
  overflow: hidden;
}

header .inner nav ul li {
  float: left;
  margin: 70px 100px 50px 0;
}

header .inner nav ul li:first-child {
  margin-left: 200px;
}

header .inner nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
}

header .inner nav ul li a:hover {
  border-bottom: 2px solid #000000;
}

#top .nav-top a,
#about .nav-about a,
#beer .nav-beer a,
#food .nav-food a,
#goods .nav-goods a,
#access .nav-access a {
  border-bottom: 2px solid #000000;
}

.insta {
  height: 300px;
  background-color: #162e4b;
  margin-bottom: 500px;
  clear: both;
  text-align: center;
}

.insta a {
  color: #fff;
  text-decoration: none;
  line-height: 300px;
}

.insta a i {
  font-size: 50px;
  margin-right: 40px;
}

.insta a span {
  font-size: 52px;
  letter-spacing: 0.05em;
  font-weight: 500;
}

footer {
  background-color: #000000;
}

footer .inner {
  margin: 0 auto;
  width: 1000px;
  height: 700px;
  color: #fff;
  position: relative;
}

footer .inner h3 {
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  top: 100px;
  left: 100px;
}

footer .inner dl {
  width: 310px;
  position: absolute;
  top: 180px;
  left: 100px;
}

footer .inner dl dt {
  margin-bottom: 10px;
}

footer .inner dl dd {
  margin-bottom: 30px;
}

footer .inner dl dd:last-child {
  margin-bottom: 0;
}

footer .inner .navigation {
  float: right;
  position: absolute;
  top: 180px;
  left: 650px;
}

footer .inner .navigation nav {
  height: 320px;
  border-left: 2px solid #fff;
}

footer .inner .navigation nav ul li {
  margin-left: 110px;
  margin-bottom: 20px;
}

footer .inner .navigation nav ul li a {
  text-decoration: none;
  color: #fff;
}

footer .inner .navigation nav ul li a:hover {
  border-bottom: 1px solid #fff;
}

footer .inner .icon {
  width: 380px;
  position: absolute;
  bottom: 80px;
  left: 310px;
}

footer .inner .icon nav ul {
  overflow: hidden;
}

footer .inner .icon nav ul li {
  font-size: 57px;
  float: left;
  margin-right: 60px;
}

footer .inner .icon nav ul li:last-child {
  margin-right: 0;
}

footer .inner .icon nav ul li a {
  color: #fff;
}

footer .inner small {
  position: absolute;
  bottom: 40px;
  left: 460px;
}

#top main .about {
  width: 1620px;
  height: 600px;
  background-image: url(../images/main-about-new.jpg);
  margin: 0 auto 250px auto;
  text-align: center;
}

#top main .about .bg-color {
  height: 600px;
  -webkit-transition: all 0.4s ease;
  -webkit-transition: all 0.4ss ease;
  transition: all 0.4ss ease;
}

#top main .about .bg-color h1 {
  color: #fff;
  font-size: 64px;
  padding-top: 150px;
  letter-spacing: 0.1em;
  font-weight: 500;
  padding-bottom: 20px;
}

#top main .about .bg-color h1 .border {
  display: block;
  border-bottom: 5px solid #fff;
  width: 100px;
  margin: 30px auto 60px auto;
}

#top main .about .bg-color p {
  color: #fff;
  line-height: 2.3;
  letter-spacing: 0.15em;
}

#top main .about .bg-color:hover {
  background-color: rgba(22, 46, 75, 0.5);
}

#top main section {
  width: 980px;
  margin: 0 auto 200px auto;
  overflow: hidden;
}

#top main section:last-child {
  margin-bottom: 300px;
}

#top main section h2 {
  font-size: 60px;
  width: 260px;
  margin-top: 80px;
  margin-bottom: 40px;
  letter-spacing: 0.05em;
  font-weight: 600;
}

#top main section h2 span {
  font-weight: 400;
}

#top main section p {
  border-bottom: 4px solid #000000;
  width: 260px;
  padding-bottom: 20px;
  letter-spacing: 0.15em;
  font-weight: 600;
}

#top main .beer .discription {
  float: right;
  margin-right: 20px;
}

#top main .beer img {
  opacity: 0;
  position: relative;
  right: -600px;
}

#top main .beer img.on {
  opacity: 1;
  right: 0;
}

#top main .food img {
  float: right;
  opacity: 0;
  position: relative;
  left: -600px;
}

#top main .food img.on {
  opacity: 1;
  left: 0;
}

#top main .food .discription {
  margin-left: 20px;
}

#top main .goods .discription {
  float: right;
  margin-right: 20px;
}

#top main .goods img {
  opacity: 0;
  position: relative;
  right: -600px;
}

#top main .goods img.on {
  opacity: 1;
  right: 0;
}

#about main section {
  width: 1000px;
  margin: 0 auto 200px auto;
}

#about main section p {
  line-height: 2.1;
}

#about main .enjoy h1 {
  font-size: 160px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 30px;
  line-height: 0.9;
}

#about main .enjoy h1 span {
  font-size: 130px;
}

#about main .enjoy .enjoy-image {
  height: 1090px;
  background-image: url(../images/about-eb.png);
  background-repeat: no-repeat;
}

#about main .enjoy .enjoy-image p {
  width: 470px;
  height: 240px;
  margin-left: 20px;
}

#about main .brewer {
  position: relative;
  margin-bottom: 300px;
}

#about main .brewer h1 {
  font-size: 130px;
  font-weight: 500;
  margin-left: 50px;
  margin-bottom: 10px;
}

#about main .brewer .brewer-image {
  height: 1460px;
  background-image: url(../images/about-br.png);
}

#about main .brewer .brewer-image .discription {
  width: 330px;
  margin-left: 60px;
  padding-top: 30px;
}

#about main .brewer .brewer-image .name {
  width: 170px;
  position: absolute;
  top: 650px;
  right: 170px;
}

#about main .history {
  width: 1620px;
  height: 600px;
  background-image: url(../images/about-history-new.jpg);
  margin: 0 auto 300px auto;
  text-align: center;
}

#about main .history .bg-color {
  height: 600px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#about main .history .bg-color h2 {
  color: #fff;
  font-size: 64px;
  padding-top: 150px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

#about main .history .bg-color h2 .border {
  display: block;
  border-bottom: 5px solid #fff;
  width: 100px;
  margin: 30px auto 60px auto;
}

#about main .history .bg-color .discription {
  text-align: left;
  margin-left: 450px;
}

#about main .history .bg-color .discription p {
  color: #fff;
  line-height: 2.3;
  letter-spacing: 0.15em;
}

#about main .history .bg-color:hover {
  background-color: rgba(22, 46, 75, 0.5);
}

#beer header nav {
  margin-bottom: 0;
}

#beer main {
  margin: 0 auto 300px auto;
  padding-top: 10px;
  overflow: hidden;
}

#beer main h1 {
  width: 1100px;
  font-size: 110px;
  margin: 0 auto;
  position: relative;
  top: 190px;
}

#beer main h1 span {
  font-size: 200px;
  font-weight: 500;
}

#beer main .bg-image {
  height: 2540px;
  background-image: url(../images/menu-bg-new.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 300px;
}

#beer main .bg-image .inner section {
  width: 550px;
  height: 600px;
  color: #fff;
  margin-bottom: 100px;
  position: relative;
}

#beer main .bg-image .inner section h2 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 40px;
}

#beer main .bg-image .inner section .price {
  font-size: 30px;
  font-weight: 500;
  margin-left: 40px;
}

#beer main .bg-image .inner section .price span {
  font-size: 14px;
  font-weight: 600;
}

#beer main .bg-image .inner section .discription {
  font-weight: 600;
  padding: 30px 40px 30px 40px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 102, 0.3);
}

#beer main .bg-image .inner .shuri-red {
  background-image: url(../images/menu-beer1.jpg);
  float: left;
  margin-top: 300px;
  margin-left: 420px;
}

#beer main .bg-image .inner .shuri-yellow {
  background-image: url(../images/menu-beer2.jpg);
  float: right;
  clear: both;
  margin-right: 420px;
}

#beer main .bg-image .inner .hefe {
  background-image: url(../images/menu-beer3.jpg);
  float: left;
  clear: both;
  margin-left: 420px;
}

#beer main .other-beer {
  width: 1620px;
  height: 1500px;
  background-image: url(../images/other-menu.jpg);
  margin: 0 auto 300px auto;
  text-align: center;
}

#beer main .other-beer .bg-color {
  height: 1500px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#beer main .other-beer .bg-color h3 {
  color: #fff;
  font-size: 64px;
  padding-top: 80px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

#beer main .other-beer .bg-color h3 .border {
  display: block;
  border-bottom: 5px solid #fff;
  width: 500px;
  margin: 30px auto 60px auto;
}

#beer main .other-beer .bg-color .discription {
  text-align: left;
  margin-left: 50px;
}

#beer main .other-beer .bg-color .discription p {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.15em;
  margin-bottom: 40px;
}

#beer main .other-beer .bg-color .discription p span {
  font-size: 22px;
  font-weight: 600;
}

#beer main .other-beer .bg-color:hover {
  background-color: rgba(22, 46, 75, 0.5);
}
/*# sourceMappingURL=style.css.map */